<div class="container d-flex align-items-center justify-content-center h-100">
    <div class="row justify-content-center">
        <div class="column align-items-center">
                <h2 class="cover-heading">Tom Shamp, full-stack engineer</h2>
                <p>A year ago I decided to make the transition from pharmaceutical researcher to 
                software engineer! Welcome to my page!</p>
                <%= button_to "About", page_path('about'), class: "btn btn-primary" %>
        </div>
    </div>
</div>
