<body>
    <section>
        <div class="d-flex jumbotron jumbotron-fluid align-items-center" id="homeimg">
            <div class="container">
                <h1 class="display-4">Tom Shamp</h1>
                <p class="lead">Full-stack developer</p>
                <p>A year ago I decided to make the transition from pharmaceutical researcher to 
                full-stack developer! Welcome to my page!</p>
            </div>
        </div>
    </section>

</body>
