/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 **= require bootstrap/scss/bootstrap
 *= require_tree .
 *= require_self
 */

 html, body {
     height: 100%;
 }

#homeimg {
    background-image: image-url('pexels-vlad-bagacian-1061623.jpg');  
    background-position: bottom center;
    background-size: cover;
    background-position: 0px 700px;
}

#navbar {
    border-bottom: 1px solid black;
    background-color: black;
}

.navbar a {
    color: white !important;
}


.btn-primary-outline {
    border: 1px solid black;
}

.btn-primary-outline:hover {
    background-color: #C8C8C8;
}

#dropdown {
    background-color: black;
}

.dropdown-item:hover {
    background: grey;
}

.jumbotron {
    height: 350px;
    color: white;
}
